#header-nav {
	/*background-color: #AABBCC;  light blue*/
	border-radius: 0;
	border: 0;
}

#brand1{
	text-align: left;
	font-size: 2em;
	font-weight: bold;
	/* margin-left: -30px; */
}

#nav-list a{
	border: 1px solid black;
	color:black;
	background-color: white;
}

section div {
	background-color: #FFFF00; /* yellow*/
	margin-bottom: 20px;
}

#mainTitle{
	font-size: 2em;
	font-weight: bold;
	/* color:red; */
}

section div p{
	font-size: 1.5em;
	font-weight: bold;
}